<footer class="footer">
<div class="rights flex-row">
  <h4 class="text-gray">
    Copyright ©2019 All rights reserved | made
    by
    <a href="http://manasranjan.ga/"
      target="_black"> Developer Manas <i
        class="fab fa-youtube"></i>
      Channel</a>
  </h4>
</div>
</footer>