<div class="container">
 
    <div class="row">
        <div class="col-3">
            <img src="{{order.image}}" />

        </div>
        <div class="col-2">
            <p>{{order.name}}</p>
        </div>
        <div class="col-2">
            <p><img src="https://www.flaticon.com/premium-icon/icons/svg/2549/2549959.svg" width="20px" height="20px" />
                quantity<img src="https://www.flaticon.com/premium-icon/icons/svg/2550/2550003.svg" width="20px"
                    height="20px" /></p>
        </div>
        <div class="col-2">
            <p>{{order.price}}</p>
        </div>
        <div class="col-2">
            <p>total price</p>
        </div>
    </div>
</div>

<a href="exitpage">
    <button type="button" style="margin-right:100px;width: 200px; float:right" class="btn btn-secondary btn-lg mt-5">Finish payment</button>
</a>