<div class="container">
    <div class="row">
        <div class="col mt-5" style="margin-left: 400px">
            <h1>Thank you for shopping</h1>
            <a href="/">
            <button type="button" style="margin-left:65px;width: 300px" class="btn btn-secondary btn-lg mt-5">Go to Home page</button>
            </a>
        </div>
    </div>
</div>