<body style="    background: lightslategray;">
<div class="container">
    <div class="row">
        <div class="col mt-5" style="margin-left: 400px">
            <h1>Hi, {{name}} welcome</h1>
            <form action="/homepage">
            <button type="button" style="margin-left:65px;width: 300px" class="btn btn-secondary btn-lg mt-5">Shop now by clicking above category</button>
            </form>
        </div>
    </div>
</div>
</body>